<html lang="en">
<head>
  <title>Log In</title>
  <meta charset="utf-8">
  <meta name="description" content="A minimal and responsive HTML5 landing page built on lightweight, clean and customizable code.">
  <meta name="viewport" content="width=device-width">
  <link rel="apple-touch-icon-precomposed" href="media/favicon.png">
  <link rel="icon" href="media/favicon.png">
  <link rel="mask-icon" href="media/favicon.svg" color="rgb(36,38,58)">
  <link rel="shortcut icon" href="media/favicon.png">
  <link rel="stylesheet" href="/css/main.css" type="text/css">
</head>
<header class="header-main dark">
  <nav>
    <a href="/" class="logo" rel="home"><svg xmlns="http://www.w3.org/2000/svg"
        xmlns:xlink="http://www.w3.org/1999/xlink" width="24" height="24" viewBox="0 0 24 24">
      </svg>
  <div class="flex-column justify-space-around">
    <form class="search-form">
      <input class="form-input" id="search-input" type="text" placeholder="Search Shack">
      <button class="button button-primary space-top" id="searchBtn">Search</button>
      <button class="button button-primary space-top"  id="shackBtn">Shack Me</button>
    </form>
  </div>
  <div>
  </div>
</nav>
</header>
 </div>
    <div class="columns">
      <div class="column is-full">
        <div class="search-result-container" id="search_result"></div>
      </div>
    </div>
    
{{#each podcasts as |podcast| }}
<div class="container">
    <div>
    <a href="{{podcast.link}}">
       <img src="{{podcast.thumbnail}}" alt="thumbnail link">
       </a>
       </div>
    <p>
        {{podcast.title}}
      
    </p>
</div>
{{/each}}


  <script src="./js/search.js"></script>