<html lang="en">
<head>
  <title>Log In</title>
  <meta charset="utf-8">
  <meta name="description" content="A minimal and responsive HTML5 landing page built on lightweight, clean and customizable code.">
  <meta name="viewport" content="width=device-width">
  <link rel="apple-touch-icon-precomposed" href="media/favicon.png">
  <link rel="icon" href="media/favicon.png">
  <link rel="mask-icon" href="media/favicon.svg" color="rgb(36,38,58)">
  <link rel="shortcut icon" href="media/favicon.png">
    <link rel="stylesheet" href="/css/main.css" type="text/css">
</head>
<div class="row">
  <div class="col-md-6">

<body>
  <div class="flex-column justify-space-around">
    <form class="search-form">
      <input class="form-input" id="search-input" type="text" placeholder="Search Shack">
      <button class="button button-primary space-top" id="searchBtn">Search</button>
      <button class="button button-primary space-top"  id="shackBtn">Shack Me</button>
    </form>
  </div>
  <div>
  </div>

  <script src="./js/search.js"></script>

</body>